.item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  background-color: white;
}

.status {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff5150;
}

.online {
  background-color: #55ab57;
}
